<p-card class="main">
  <div class="maincontent">
    <div class="titlebar">
      <h4>{{ station?.standardname }}</h4>
      <button
        mat-icon-button
        *ngIf="station"
        class="favStationBtn"
        (click)="saveStationClick()"
      >
        <mat-icon>star</mat-icon>
      </button>
      <mat-spinner class="smallspinner" *ngIf="loadingLiveboard"></mat-spinner>
      <p-tabMenu
        [model]="tabs"
        [activeItem]="activeTab"
        (activeItemChange)="tabChange($event)"
      ></p-tabMenu>
    </div>

    <div class="departures scrollbar">
      <p-card *ngFor="let departure of active" (click)="selectRoute(departure)">
        <div class="departure">
          <div class="top">
            <span class="timestamp">{{
              departure.timeStamp | date : "HH:mm"
            }}</span>
            <div>
              <span class="delay" *ngIf="departure.delay > 0"
                >+ {{ departure.delay / 60 }}</span
              >
            </div>
            <div>
              <span class="canceled" *ngIf="departure.canceled">Canceled</span>
            </div>
          </div>
          <div>
            <p>{{ departure.vehicleinfo.number }} {{ departure.station }}</p>
          </div>
          <span class="platform" *ngIf="departure.platform"
            >Platform {{ departure.platform }}</span
          >
        </div>
      </p-card>
    </div>

    <div class="d-flex flex-col align-content-center">
      <mat-spinner class="smallspinner" *ngIf="loadingRoute"></mat-spinner>
    </div>

    <div *ngIf="routeNotFound && !loadingRoute">
      <h5>Route not found on IRail API</h5>
    </div>

    <app-line-timeline *ngIf="stops" [stops]="stops" class="overflow-x-auto">
    </app-line-timeline>
  </div>
</p-card>
