<div
  class="min-height-0 min-width-0 h-100 w-100 overflow-auto scrollbar horizontal-scrollbar flex-grow-1"
  #scrollContainer
  cdkDropList
  [style.user-select]="edit ? 'none' : 'auto'"
>
  <div
    class="d-grid page-grid position-relative"
    [class.page-grid-edit]="edit"
    [style.grid-template-columns]="
      'repeat(' + columnAmount + ', minmax(' + blockSize + 'px, 1fr))'
    "
    #pageGrid
    [style.grid-auto-rows]="rowHeight"
    [style.padding.px]="gridGapAdjusted"
    [style.gap.px]="gridGapAdjusted"
    [style.background-size]="
      edit
        ? blockSize +
          gridGapAdjusted +
          'px ' +
          (blockSize + gridGapAdjusted) +
          'px'
        : 'auto'
    "
    [style.background-image]="
      edit
        ? 'linear-gradient(to right, var(--abs-background-color) ' +
          gridGapAdjusted +
          'px, transparent ' +
          gridGapAdjusted +
          'px), linear-gradient(to bottom, var(--abs-background-color) ' +
          gridGapAdjusted +
          'px, transparent ' +
          gridGapAdjusted +
          'px)'
        : 'none'
    "
    [style.height]="edit ? pageHeight + 'px' : 'auto'"
    [style.width]="edit ? pageWidth + 'px' : 'auto'"
  >
    <div
      class="position-absolute h-100 w-100"
      *ngIf="lockedCursor"
      [style.z-index]="50"
      [style.cursor]="lockedCursor"
    ></div>
    <div
      class="position-relative grid-item"
      *ngIf="dragging"
      [ngClass]="canPlace ? 'dragging' : 'dragging-not-allowed'"
      [style.grid-row-start]="dragging.y + 1"
      [style.grid-row-end]="dragging.height + dragging.y + 1"
      [style.grid-column-start]="dragging.x + 1"
      [style.grid-column-end]="dragging.width + dragging.x + 1"
    ></div>
    <ng-container *ngFor="let part of elements; trackBy: PartPosTrackBy">
      <div
        class="position-relative grid-item"
        [class]="cellClass"
        [style.opacity]="edit ? '0.8' : '1'"
        [style.grid-row-start]="part.y + 1"
        [style.grid-row-end]="part.height + part.y + 1"
        [style.grid-column-start]="part.x + 1"
        [style.grid-column-end]="part.width + part.x + 1"
        [style.background]="edit ? 'white' : 'none'"
      >
        <ng-container *ngIf="edit">
          <div
            class="position-absolute resize-handle resize-vertical"
            [style.top.px]="0"
            (mousedown)="startResizePart(part, ResizeDirection.Top, $event)"
            (touchstart)="startResizePart(part, ResizeDirection.Top, $event)"
          ></div>
          <div
            class="position-absolute resize-handle resize-vertical"
            [style.bottom.px]="0"
            (mousedown)="startResizePart(part, ResizeDirection.Bottom, $event)"
            (touchstart)="startResizePart(part, ResizeDirection.Bottom, $event)"
          ></div>
          <div
            class="position-absolute resize-handle resize-horizontal"
            [style.left.px]="0"
            (mousedown)="startResizePart(part, ResizeDirection.Left, $event)"
            (touchstart)="startResizePart(part, ResizeDirection.Left, $event)"
          ></div>
          <div
            class="position-absolute resize-handle resize-horizontal"
            [style.right.px]="0"
            (mousedown)="startResizePart(part, ResizeDirection.Right, $event)"
            (touchstart)="startResizePart(part, ResizeDirection.Right, $event)"
          ></div>
          <div
            *ngIf="(focusChange | async) == part.id"
            class="position-absolute resize-handle resize-diagonal resize-diagonal-nw"
            [style.top.px]="-2"
            [style.left.px]="-2"
            (mousedown)="startResizePart(part, ResizeDirection.TopLeft, $event)"
            (touchstart)="
              startResizePart(part, ResizeDirection.TopLeft, $event)
            "
          ></div>
          <div
            *ngIf="(focusChange | async) == part.id"
            class="position-absolute resize-handle resize-diagonal resize-diagonal-ne"
            [style.top.px]="-2"
            [style.right.px]="-2"
            (mousedown)="
              startResizePart(part, ResizeDirection.TopRight, $event)
            "
            (touchstart)="
              startResizePart(part, ResizeDirection.TopRight, $event)
            "
          ></div>
          <div
            *ngIf="(focusChange | async) == part.id"
            class="position-absolute resize-handle resize-diagonal resize-diagonal-ne"
            [style.bottom.px]="-2"
            [style.left.px]="-2"
            (mousedown)="
              startResizePart(part, ResizeDirection.BottomLeft, $event)
            "
            (touchstart)="
              startResizePart(part, ResizeDirection.BottomLeft, $event)
            "
          ></div>
          <div
            *ngIf="(focusChange | async) == part.id"
            class="position-absolute resize-handle resize-diagonal resize-diagonal-nw"
            [style.bottom.px]="-2"
            [style.right.px]="-2"
            (mousedown)="
              startResizePart(part, ResizeDirection.BottomRight, $event)
            "
            (touchstart)="
              startResizePart(part, ResizeDirection.BottomRight, $event)
            "
          ></div>
          <div
            class="position-absolute move-handle h-100 w-100"
            (mousedown)="startMoveWebPart(part, $event)"
            (touchstart)="startMoveWebPart(part, $event)"
          ></div>
        </ng-container>

        <ng-container *ngIf="part.type; else addbtn">
          <p-card class="w-100 h-100">
            <ng-container
              *ngComponentOutlet="part.type; inputs: { config: part.config }"
            />
          </p-card>
        </ng-container>

        <button
          *ngIf="edit"
          mat-button
          (click)="removePart(part)"
          class="btn deletebtn"
        >
          <mat-icon class="m-0">delete</mat-icon>
        </button>

        <button
          *ngIf="edit && canEdit(part.typeName)"
          (click)="openPartSettings(part)"
          mat-button
          class="btn editbtn"
        >
          <mat-icon class="m-0">edit</mat-icon>
        </button>

        <ng-template #addbtn>
          <div>
            <button
              mat-button
              [matMenuTriggerFor]="addMenu"
              [matMenuTriggerData]="{ pos: part }"
            >
              <mat-icon>plus</mat-icon>
            </button>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
