:host {
  background-color: var(--abs-background-color);
}

.mainpanel {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  max-width: 600px;
  margin: 30px auto;
}

.textpanel p {
  color: var(--text-color);
}

.titlepanel {
  span {
    color: var(--text-color);
    font-weight: 600;
  }
}

.apppannel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.linkdrawer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.linkdrawer a {
  text-decoration: none;
  color: lightblue;
}

a.link-div {
  position: absolute;
  display: block;
  text-decoration: none;
  width: var(--app-size);
  height: var(--app-size);
}

.bag {
  animation: slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bag2 {
  animation-direction: alternate-reverse;
  animation-duration: 12s;
}

.bag3 {
  animation-duration: 14s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  position: fixed;
  text-align: center;
  top: calc(50% + 20px);
  transform: translate(-50%, -50%);
  height: calc(100% - 60px);
  overflow-y: scroll;
  border-radius: 15px;
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
