<div class="bag"></div>
<div class="bag bag2"></div>
<div class="bag bag3"></div>
<div class="content scrollbar bg">
  <div class="mainpanel">
    <div class="card textpanel">
      <p>I am Laurens Hons</p>
      <p>
        I'm a software developper at heart and i like to build things like this
        website. I have a degree in Applied Computer Science from UCLL and
        currently work for ProcessDelight. Scroll down for more details and a
        refined CV.
      </p>
    </div>
    <div class="panel">
      <app-timeline></app-timeline>
    </div>
    <div class="panel">
      <app-projects></app-projects>
    </div>
  </div>
  <app-cv></app-cv>
  <div class="p-5">
    <app-drawer></app-drawer>
  </div>
</div>
