:host {
  background-color: var(--abs-background-color);
}

.timelineEvent {
  display: flex;
  flex-direction: column;
  .title {
    font-weight: 600;
  }
}

::ng-deep .tabgroup .mdc-tab__text-label {
  color: var(--text-color) !important;
}
