<div class="content">
  <div class="card">
    <h4 class="txt">Ste(A)M</h4>
    <img class="render" [src]="'data:image/jpeg;base64,' + rendPng" />
    <p class="txt">
      For my bachelor's project, I collaborated with a team to develop an
      educational game using Unity and C#. The project, named "Steam," aimed to
      create an engaging learning experience through interactive gameplay. We
      focused on combining fun and education, allowing players to learn while
      progressing through challenges within the game. My role involved
      contributing to the programming, ensuring the game mechanics and
      educational features worked seamlessly. Working with Unity and C# gave me
      valuable experience in game development, teamwork, and problem-solving,
      making this project a rewarding experience.
    </p>
    <img class="render" [src]="'data:image/jpeg;base64,' + steam" />
  </div>

  <div class="card mt-5">
    <h4 class="txt">TwitterClone</h4>
    <p class="txt">
      In my free time, I developed a Twitter clone using Elixir and the umbrella
      project structure. The application featured user authentication via OAuth,
      allowing users to securely sign in. It included core functionalities such
      as tweeting, viewing a personalized feed, and subscribing to other users.
      One of the standout features was the integration of live private
      messaging, enabling real-time communication between users. This project
      gave me hands-on experience with Elixir’s concurrency model and the
      umbrella structure, allowing me to build a scalable and modular
      application.
    </p>
    <div>
      <app-github-button
        [link]="'https://github.com/LaurensHons/TwitterClone'"
      ></app-github-button>
    </div>
  </div>

  <div class="card mt-5">
    <h4 class="txt">laurenshons.com</h4>
    <p class="txt">
      I also develped this website that you are currently visiting. I first
      bought the domain in 2024 and am now hosting a small computer to run this
      server. Slowly over time I have been building on it. It now also runs
      <a href="https://jellyfin.laurenshons.com">Jellyfin</a>, a Media server to
      view personal movies & series, an
      <a href="https://glances.laurenshons.com">online view</a> of the
      statistics of the pc and a minecraft server and webapplication to have a
      nice <a href="https://mc.laurenshons.com">view</a>.
    </p>
    <div>
      <app-github-button
        [link]="'https://github.com/LaurensHons/TwitterClone'"
      ></app-github-button>
    </div>
  </div>
</div>
