<div class="main">
  <p-progressBar
    class="progress"
    [value]="(timeoutPercentage | async) || 100"
    [@openClose]="hover ? 'open' : 'closed'"
    (mouseenter)="hover = true"
    (mouseleave)="hover = false"
    (click)="onProgressbarClick()"
  >
    <ng-template pTemplate="content" let-value>
      <span class="clicktorefresh">Click to refresh</span>
      <button class="editbtn" mat-icon-button (click)="edit = !edit">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-template>
  </p-progressBar>
  <div>
    <app-grid
      [edit]="edit"
      [elements]="parts"
      (elementsChanged)="elementsChanged()"
      [addMenu]="menu"
    >
    </app-grid>
  </div>
</div>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-pos="pos">
    <button
      *ngFor="let part of partTypeDictList"
      mat-menu-item
      (click)="addPart(part.name, part.comp, pos)"
    >
      {{ part.displayName }}
    </button>
  </ng-template>
</mat-menu>

<ng-template #nmbs>
  <app-nmbs> </app-nmbs>
</ng-template>
<ng-template #buienradar>
  <iframe
    *ngIf="lat && lon"
    [src]="buienradarIframe | safe : 'resourceUrl'"
    style="height: 100%; width: 100%; padding: 3px"
    NORESIZE
    SCROLLING="NO"
    HSPACE="0"
    VSPACE="0"
    FRAMEBORDER="0"
    MARGINHEIGHT="0"
    MARGINWIDTH="0"
  ></iframe>
</ng-template>

<ng-template #buiengraph>
  <app-buienradar-graph [lon]="lon" [lat]="lat" [refreshObservable]="refresh">
  </app-buienradar-graph>
</ng-template>
