<div class="titlebar">
  <h4>{{ station?.standardname }}</h4>
  <button
    mat-icon-button
    *ngIf="station"
    class="favStationBtn"
    [class]="station.favorite ? '' : 'material-symbols-outlined'"
    (click)="saveStationClick()"
  >
    <mat-icon [slot]="">star</mat-icon>
  </button>
  <mat-spinner class="smallspinner" *ngIf="loadingLiveboard"></mat-spinner>
</div>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab *ngFor="let tab of tabs" [label]="tab.name">
    <ng-template mat-tab-label>
      {{ tab.name }}
    </ng-template>

    <div class="departures scrollbar">
      <div
        *ngFor="let departure of tab.data"
        (click)="selectRoute(departure)"
        class="departure scrollbar"
      >
        <div class="top">
          <span class="timestamp">{{
            departure.timeStamp | date : "HH:mm"
          }}</span>
          <div>
            <span class="delay" *ngIf="departure.delay > 0"
              >+ {{ departure.delay / 60 }}</span
            >
          </div>
          <div>
            <span class="canceled" *ngIf="departure.canceled">Canceled</span>
          </div>
        </div>
        <div>
          <p>{{ departure.vehicleinfo.number }} {{ departure.station }}</p>
        </div>
        <span class="platform" *ngIf="departure.platform"
          >Platform {{ departure.platform }}</span
        >
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="d-flex flex-col align-content-center">
  <mat-spinner class="smallspinner" *ngIf="loadingRoute"></mat-spinner>
</div>

<div *ngIf="routeNotFound && !loadingRoute">
  <h5>Route not found on IRail API</h5>
</div>

<app-line-timeline *ngIf="stops" [stops]="stops" class="overflow-x-auto">
</app-line-timeline>
